@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

}

.header-nav {
  display: flex;
  align-items: center;
}

.main-header {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
}

.logo-nav-wrapper {
  display: flex;
  gap: 28px;
  align-items: flex-start;
}

.header-logo {
  position: relative;
  display: block;
  width: 140px;
  height: 64px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.6;
}

.user-menu-wrapper {
  display: flex;
  gap: 20px;
}

.main-content {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  max-width: 600px;
}

.user-menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  min-width: 88px;
  max-width: 200px;
}

.menu-item-link {
  display: block;
  min-height: 64px;
  min-width: 44px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: background-color 0.5s ease;
}

.menu-item-link:hover {
  background-color: rgba(117, 97, 87, 0.1);
}

.menu-item-link:hover .favorite-count {
  transform: scale(1.5);
}

.search {
  background-image: url("../images/icons/search.svg");
}

.favorite {
  background-image: url("../images/icons/heart.svg");
  position: relative;
}

.nav-link {
  display: block;
  overflow-wrap: break-word;
  line-height: 24px;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px 20px 16px;
  cursor: pointer;
  max-width: 100%;
  transition: background-color 0.5s ease;
}

.nav-link:hover {
  background-color: rgba(117, 97, 87, 0.1);
}

.nav-link:active {
  color: rgba(117, 97, 87, 0.1);
}

.nav-item {
  max-width: 100%;
}

.nav-item-active {
  position: relative;
}

.nav-item-active::after {
  content: "";
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
}

.favorite {
  text-decoration: none;
}

.search {
  text-decoration: none;
}

.favorite-count {
  display: inline-block;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  position: absolute;
  padding: 5px 5px 5px 4px;
  top: 11px;
  right: 3px;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-height: 36px;
  padding: 8px;
  word-break: break-all;
}

.button:not(:disabled):hover {
  background-color: #615048;
}

.button:not(:disabled):focus {
  background-color: #615048;
}

.button:not(:disabled):active {
  color: rgba(255, 255, 255, 0.3);
}

.header-btn {
  margin-top: 14px;
  margin-bottom: 14px;
  align-self: flex-start;
  padding: 8px 34px;
  max-width: 300px;
}

.button-form {
  background-color: #82b3d3;
}

.button-form:not(:disabled):hover {
  background-color: #68a2ca;
}

.button-form:not(:disabled):focus {
  background-color: #68a2ca;
}

.button-form:disabled {
  cursor: not-allowed;
  background-color: #e5e5e5;
}


.button-color-added {
  background-color: #7db54f;
}

.reset-button-form {
  background-color: transparent;
}

.reset-button-form:not(:disabled):hover {
  background-color: transparent;
  opacity: 60%;
}

.reset-button-form:not(:disabled):focus {
  background-color: transparent;
}

.reset-button-form:not(:disabled):active {
  background-color: transparent;
  opacity: 30%;
}

.reset-button-form:disabled {
  opacity: 10%;
  cursor: not-allowed;
}

.button-large {
  font-size: 20px;
  line-height: 36px;
  min-height: 52px;
}

.hero {
  background-image:
    url("../images/hero-decor.svg"),
    url("../images/hero-bg.jpg");
  color: #ffffff;
  background-color: #3f5e72;
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom center, center;
  padding-top: 51px;
  padding-bottom: 82px;
  text-align: center;
}

.hero-img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.card {
  width: 400px;
  padding: 112px 80px;
  background-color: #82b3d3;
  min-height: 385px;
}

.card-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  max-width: 172px;
  margin-left: auto;
  margin-right: auto;
}

.card-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: currentColor;
  opacity: 30%;
  margin: 30px auto 0 auto;
}

.card-text {
  color: #333333;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.reasons-text-wrapper {
  width: 655px;
  margin: 0 auto;
  padding-top: 69px;
  padding-bottom: 90px;
}

.reasons-title {
  margin-bottom: 25px;
}

.reasons-card-img {
  padding: 0;
  width: 100%;
  display: flex;
}

.reasons-img-text {
  padding: 102px 80px;
}

.reason-img {
  display: block;
  width: 800px;
  height: 385px;
}

.reasons-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons-cards li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-cards li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-cards li.reasons-card-img {
  background-color: #82B3D3;
}

.reasons-img-text .card-text,
.reasons-img-text {
  color: #ffffff;
}

.reasons-cards li:nth-child(even of .reasons-card-img) {
  flex-direction: row-reverse;
}

.come-text-wrapper {
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
  width: 505px;
}

.come-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.come-cards li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.come-cards li:nth-child(even) {
  background-color: #ffffff;
}

.come-cards .card-title::before {
  content: "";
  display: block;
  height: 72px;
  width: 100%;
  background-color: rgba(131, 179, 211, 1);
  mask-repeat: no-repeat;
  mask-position: center;
  margin-bottom: 30px;
}

.come-card {
  padding: 81px 85px;
}

.advantage-home::before {
  mask-image: url("../images/icons/advantage-home.svg");
}

.advantage-burger::before {
  mask-image: url("../images/icons/advantage-burger.svg");
}

.advantage-prize::before {
  mask-image: url("../images/icons/advantage-prize.svg");
}

.come-cards .card-title::after {
  content: "";
  display: none;
}

.interested-text-wrapper {
  width: 592px;
  margin: 0 auto;
}

.interested {
  padding-top: 96px;
  padding-bottom: 96px;
}

.interested-text {
  margin-bottom: 54px;
}

.interested-btn {
  margin: inherit;
  padding: 8px 50px;
  cursor: pointer;
}

.subscription {
  background-size: cover;
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  padding: 96px 0 104px 0;
}

.subscription-text-wrapper {
  width: 475px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
}

.subscription-title {
  color: #000000;
}

.subscription-text {
  color: #333333;
}

.subscription-form {
  margin: 0 auto;
  width: 684px;
  display: flex;
}

.subscription-mail {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 20px;
  padding-bottom: 14px;
  padding-top: 14px;
  border: 0;
  background-color: #f2f2f2;
  flex-shrink: 0;
}

.subscription-mail:not(:disabled):hover {
  background-color: #e5e5e5;
}

.subscription-mail:not(:disabled):focus {
  background-color: #e5e5e5;
}

.button-subscription {
  padding: 8px 50px;
  border: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.main-subscription {
  background-image: url("../images/subscribe-bg.jpg");
  color: #ffffff;
  background-color: #3f5e72;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-subscription .subscription-title {
  color: #ffffff;
}

.main-subscription .subscription-text {
  color: #ffffff;
}

.form-btn {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 45px;
  padding-bottom: 35px;
  gap: 41px;
  align-items: center;
}

.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-link {
  display: block;
  width: 48px;
  height: 40px;
  color: #83b3d3;
}

.social-link::before {
  content: "";
  display: block;
  width: 48px;
  height: 40px;
  background-color: currentColor;
  mask-position: center;
  mask-repeat: no-repeat;
}

.social-link:hover {
  color: #68a2ca;
}

.social-link:focus {
  color: #68a2ca;
}

.social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.social-vk::before {
  mask-image: url("../images/social/vk.svg");
}

.social-telegram::before {
  mask-image: url("../images/social/telegram.svg");
}

.social-youtube::before {
  mask-image: url("../images/social/youtube.svg");
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-phone {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  padding-left: 28px;
  max-width: 500px;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  color: inherit;
  display: inline-block;
  justify-self: end;
}

.footer-logo:hover {
  color: #756157;
}

.footer-logo:focus {
  color: #756157;
}

.footer-logo:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-logo {
  fill: currentColor;
}

.hotels {
  background-image: url("../images/catalog-filters-bg.jpg");
  color: #ffffff;
  background-color: #3f5e72;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 35px 70px 70px 70px;
}

.hotels-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.catalog-breadcrumbs {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.catalog-breadcrumbs-link {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.catalog-breadcrumbs-item {
  display: flex;
  align-items: center;
}

.catalog-breadcrumbs-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: currentColor;
  mask-image: url("../images/icons/arrow-right.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  margin: 0 10px;
}

.catalog-breadcrumbs-link:not([aria-current="page"]):hover {
  opacity: 70%;
}

.catalog-breadcrumbs-link:not([aria-current="page"]):focus {
  opacity: 70%;
}

.catalog-breadcrumbs-link:not([aria-current="page"]):active {
  opacity: 70%;
}

.catalog-breadcrumbs-item:first-child .catalog-breadcrumbs-link {
  width: 13px;
  height: 15px;
  background-color: #ffffff;
  mask-image: url("../images/icons/home.svg");
  mask-repeat: no-repeat;
  mask-position: center;
}

.catalog-form-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-form-filters .price-range-wrapper {
  min-width: 288px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2px;
  align-self: start;
}

.catalog-price-input {
  width: 100%;
  appearance: textfield;
  padding: 12px 40px 12px 20px;
  background-color: #f2f2f2;
  border: none;
}

.catalog-price-input::-webkit-inner-spin-button,
.catalog-price-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.catalog-price-input:not(:disabled):hover {
  background-color: #e5e5e5;
}

.catalog-price-input:not(:disabled):focus {
  background-color: #e5e5e5;
}

.catalog-price-range {
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.catalog-price-range span {
  position: absolute;
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
  right: 20px;
  transform: translateY(50%);
}

.input-min-price {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-max-price {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.price-range {
  grid-column: 1 / -1;
  margin-top: 48px;
  width: 100%;
  position: relative;
}

.price-range::before {
  position: absolute;
  width: 100%;
  content: "";
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.price-selected-interval {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
}

.range-toggle:hover {
  cursor: col-resize;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid rgba(131, 179, 211, 1);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 16px;
}

.catalog-filter-item:has(input[type="checkbox"])::before {
  content: "";
  display: none;
  position: absolute;
  width: 12px;
  height: 10px;
  border-radius: 50%;
  left: 5px;
  top: 5px;
  mask-image: url("../images/icons/form-checked.svg");
  background-color: #3f5e72;
  appearance: none;
}

.catalog-filter-item:has(input[type="checkbox"]:checked)::before {
  display: block;
}

.catalog-filter-item:has(input[type="radio"])::before {
  content: "";
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 5px;
  top: 5px;
  background-color: #3f5e72;
}

.catalog-filter-item:has(input:disabled) {
  color: darkgray;
}

.catalog-filter-item:has(input[type="radio"]:checked)::before {
  display: block;
}

.catalog-filter-item:has(input:disabled) input {
  background-color: darkgray;
}

.catalog-filter-item:not(:has(input:disabled)):active {
  opacity: 30%;
}

.catalog-filter-item:not(:has(input:disabled)):hover {
  opacity: 60%;
}

.catalog-filter-checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  flex-shrink: 0;
  appearance: none;
  margin: 0;
}

.catalog-filter-radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  flex-shrink: 0;
  appearance: none;
  margin: 0;
}

.catalog-filter-items {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  margin: 0;
  padding: 0;
  max-width: 200px;
}

.catalog-filter-items:nth-child(2) {
  margin-right: auto;
}

.catalog-filter-items input[type="number"] {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
}

.catalog-btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 56px;
}

.catalog-btn-wrapper button {
  width: 191px;
}

.catalog-submit-btn {
  font-size: 16px;
  line-height: 20px;
}

.catalog-reset-btn {
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: transparent;
}

.catalog-sort {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  height: 49px;
  padding-left: 20px;
  padding-right: 40px;
  appearance: none;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-image: url("../images/icons/arrow-bottom.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.catalog-sort:hover {
  border: 2px solid #68a2ca;
}

.hotels-found {
  padding: 50px 70px 60px 70px;
}

.hotels-found-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.hotel-list-item p {
  margin: 0;
}

.hotel-list-item-img {
  width: 300px;
  height: 212px;
  margin-bottom: 16px;
}

.display-types {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 160px;
  flex-shrink: 0;
}

.hotels-list {
  margin: 0;
  list-style: none;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid #E5E5E5;
  padding: 40px 0 40px 0;
}

.hotel-list-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.hotel-info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
  flex-grow: 1;
  grid-template-rows: 1fr auto;
}

.display-card .hotel-price {
  grid-column: 1 / -1;
  color: #333333;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hotel-details {
  align-self: start;
}

.hotel-add-favorites {
  align-self: start;
}

.hotel-price-value-wrapper {
  text-align: right;
}

.hotels-found-title {
  text-align: left;
  margin-bottom: 0;
  margin-right: auto;
  max-width: 450px;
  word-wrap: break-word;
}

.rating-stars {
  background-color: #83b3d3;
  mask-image: url("../images/icons/star.svg");
  mask-position: left;
  mask-repeat: space no-repeat;
  max-width: 96px;
  mask-size: 18px 17px;
}

.rating {
  word-break: break-word;
}

.rating-stars-1 {
  width: 24px;
}

.rating-stars-2 {
  width: 42px;
}

.rating-stars-3 {
  width: 65px;
}

.rating-stars-4 {
  width: 88px;
}

.rating-stars-5 {
  width: 96px;
}

.display-type-btn {
  display: block;
  height: 48px;
  width: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.display-type-btn:hover {
  border: 2px solid #000000;
}

.display-type-btn:active {
  border: 2px solid #000000;
}

.display-type-active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.display-type-tile {
  background-image: url("../images/icons/display-huge.svg");
}

.display-type-card {
  background-image: url("../images/icons/disaplay-card.svg");
}

.display-type-list {
  background-image: url("../images/icons/display-list.svg");
}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  grid-column: 1 / -1;
}

.favorite-added {
  background-color: #7db54f;
}

.favorite-added:not(:disabled):hover {
  background-color: #6c9e42;
}

.favorite-added:not(:disabled):focus {
  background-color: #6c9e42;
}

.favorite-added:not(:disabled):active {
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  min-height: 36px;
  padding: 8px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 0 0 0;
  list-style: none;
  gap: 8px;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #82b3d3;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 4px;
  min-width: 60px;
}

.pagination-item:not(.pagination-item-active):hover {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-item:not(.pagination-item-active):focus {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-item:not(.pagination-item-active):active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item-active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-points {
  min-width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-active {
  display: flex;
}

.modal-content-wrapper {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  box-shadow: 0 25px 50px 0 #00000026;
  background-color: #ffffff;
  width: 717px;
  border-radius: 30px;
}

.modal-title {
  text-align: left;
  margin-bottom: 64px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 50px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.modal-close-button span {
  display: inline-block;
  width: 14px;
  height: 2px;
  background-color: #000000;
  position: absolute;
}

.modal-close-button span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close-button:not(:disabled):hover {
  background-color: #e5e5e5;
}

.modal-close-button:not(:disabled):focus {
  background-color: #e5e5e5;
}

.modal-close-button:not(:disabled):active {
  background-color: #e5e5e5;
}

.modal-close-button:active span {
  opacity: 30%;
}

.modal-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px 83px;
}

.modal-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 119px 1fr;
  gap: 0 18px;
  align-items: center;
  position: relative;
}

.modal-label input {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  background-color: #f2f2f2;
}

.date-input {
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
  background-size: 20px 20px;
}

.modal-label input:not(:disabled):hover {
  background-color: #e5e5e5;
}

.modal-label input:disabled {
  cursor: not-allowed;
  opacity: 40%;
}

.modal-label-info {
  grid-column: 2 / -1;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-top: 4px;
  margin-left: 20px;
  margin-bottom: 0;
  margin-right: 0;
  display: none;
  text-transform: none;
}

.show-error {
  display: inline;
  color: #ff5757;
}

.show-msg {
  display: inline;
}

.modal-search-btn {
  grid-column: 1 / -1;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 25px;
}

.modal-label-count {
  grid-column: span 2;
}

.modal-label-count input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.count-wrapper {
  display: flex;
  min-width: 111px;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.modal-label-count .count-input {
  appearance: textfield;
  width: 31px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
}

.label-count-btn {
  width: 40px;
  height: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.label-count-btn:not(:disabled):hover {
  color: #000000;
  background-color: #e5e5e5;
}

.label-count-btn:disabled {
  opacity: 40%;
  cursor: not-allowed;
}

.label-count-btn::before {
  content: "";
  width: 20px;
  height: 20px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: currentColor;
  opacity: 20%;
}

.plus-btn::before {
  mask-image: url("../images/icons/plus.svg");
}

.minus-btn::before {
  mask-image: url("../images/icons/minus.svg");
}

.label-count-btn:hover::before {
  opacity: 1;
}

.info-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  word-break: break-all;
  padding-left: 5px;
}

.info {
  background-color: rgba(131, 179, 211, 1);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  padding: 0;
  font-family: inherit;
}

.info::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--button-text, #ffffff);
  mask-image: url("../images/icons/info.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  box-shadow: 0 15px 30px 0 #0000004D;
  transform: translate(-50%, -50%);
}

.tooltip {
  visibility: hidden;
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 256px;
  color: #ffffff;
  background-color: #333333;
  padding: 23px 18px 22px 22px;
  left: -115px;
  top: calc(100% + 15px);
  border-radius: 10px;
  word-break: normal;
  text-align: left;
  box-shadow: 0 15px 30px 0 #0000004D;
}

.tooltip::before {
  visibility: hidden;
  content: "";
  top: -1px;
  position: absolute;
  border: 9.5px solid transparent;
  border-bottom: 9px solid #333;
  top: -17px;
  left: 50%;
  transform: translate(-50%);
}

.info:hover .tooltip::before {
  visibility: visible;
}

.info:hover .tooltip {
  visibility: visible;
}

.info:focus .tooltip::before {
  visibility: visible;
}

.info:focus .tooltip {
  visibility: visible;
}
