@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.container {
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  box-shadow: -15px 0 15px -5px rgba(0, 0, 0, 0.2), 15px 0 15px -5px rgba(0, 0, 0, 0.2);
}

.header-nav {
  display: flex;
  align-items: center;
}

.main-header {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  justify-content: space-between;
}

.header-logo-nav-wrapper {
  display: flex;
  gap: 20px;
}

.header-logo {
  position: relative;
  display: block;
  width: 140px;
  height: 64px;
}

.header-user-menu-wrapper {
  display: flex;
  gap: 20px;
}

.main-content {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  max-width: 600px;
}

.header-user-menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  min-width: 100px;
}

.user-menu-item-link {
  display: block;
  min-height: 64px;
  min-width: 44px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search {
  background-image: url("../images/icons/search.svg");
}

.favorite {
  background-image: url("../images/icons/heart.svg");
  position: relative;
}

.nav-link {
  display: inline-block;
  overflow-wrap: break-word;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #ffffff;
  padding: 20px 16px 20px 16px;
  cursor: pointer;
  max-width: 100%;
}

.nav-link:hover {
  color: #756157;
}

.nav-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.nav-item {
  max-width: 100%;
}

.nav-item-active {
  position: relative;
}

.nav-item-active::after {
  content: "";
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
}

.favorite {
  text-decoration: none;
}

.search {
  text-decoration: none;
}

.favorite-count {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  position: absolute;
  padding: 5px 5px 5px 4px;
  top: 11px;
  right: 3px;
  border-radius: 50%;
}

.button {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-height: 36px;
  padding: 8px;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
;
}

.header-btn {
  margin-top: 14px;
  margin-bottom: 14px;
  align-self: flex-start;
  padding: 8px 34px;
  max-width: 300px;
}

.button-form {
  background-color: #82b3d3;
}

.button-form:hover {
  background-color: #68a2ca;
}

.button-form:focus {
  background-color: #68a2ca;
}


.button-color-added {
  background-color: #7db54f;
}

.reset-button-color-form {
  background-color: transparent;
}

.button-large {
  font-size: 20px;
  line-height: 36px;
  min-height: 52px;
}

.hero {
  background-image:
    url("../images/hero-bg.jpg"),
    url("../images/hero-decor.svg");
  color: #ffffff;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 51px;
  text-align: center;
  padding-bottom: 82px;
}

.hero-img {
  width: 458px;
  height: 352px;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.card {
  width: 400px;
  padding: 102px 85px 102px 85px;
  background-color: #82b3d3;
  min-height: 385px;
}

.card-title {
  margin: 0 auto 30px auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  max-width: 175px;
}

.card-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: currentColor;
  opacity: 30%;
  margin: 30px auto 0 auto;
}

.card-text {
  color: #333333;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.reasons-title-text-wrapper {
  width: 651px;
  margin: 0 auto;
  padding-top: 69px;
  padding-bottom: 69px;
}

.reasons-card-with-img {
  padding: 0;
  width: 100%;
  display: flex;
}

.reasons-card-with-img-text-wrapper {
  padding: 102px 85px 102px 85px;
}

.reason-img {
  display: block;
  width: 800px;
  height: 385px;
}

.reasons-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons-cards li:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-cards li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-cards li.reasons-card-with-img {
  background-color: #82B3D3;
}

.reasons-card-with-img-text-wrapper .card-text,
.reasons-card-with-img-text-wrapper {
  color: #ffffff;
}

.reasons-cards li:nth-child(even of .reasons-card-with-img) {
  flex-direction: row-reverse;
}

.come-title-text-wrapper {
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
  width: 505px;
}

.come-cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.come-cards li:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.come-cards li:nth-child(even) {
  background-color: #ffffff;
}

.come-cards .card .card-title::after {
  content: "";
  display: none;
}

.interested-title-text-wrapper {
  width: 592px;
  margin: 0 auto;
}

.interested {
  padding-top: 96px;
  padding-bottom: 96px;
}

.interested-text {
  margin-bottom: 54px;
}

.interested-btn {
  margin: inherit;
  padding: 8px 50px;
  cursor: pointer;
}

.subscription {
  background-size: cover;
  color: #000000;
  background-color: #ffffff;
  background-repeat: no-repeat;
  padding: 96px 0 104px 0;
}

.subscription-title-text-wrapper {
  width: 475px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
}

.subscription-title {
  color: #000000;
}

.subscription-text {
  color: #333333;
}

.subscription-form {
  margin: 0 auto;
  width: 684px;
  display: flex;
}

.subscription-mail {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-left: 20px;
  padding-bottom: 14px;
  padding-top: 14px;
  border: 0;
  background-color: #f2f2f2;
  flex-shrink: 0;
}

.button-subscription {
  padding: 8px 50px;
  border: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.main-subscription {
  background-image: url("../images/subscribe-bg.jpg");
  color: #ffffff;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-subscription .subscription-title {
  color: #ffffff;
}

.main-subscription .subscription-text {
  color: #ffffff;
}

.form-btn {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-logo {
  justify-self: end;
}

.social-link {
  display: block;
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-vk {
  background-image: url("../images/social/vk.svg");
}

.social-telegram {
  background-image: url("../images/social/telegram.svg");
}

.social-youtube {
  background-image: url("../images/social/youtube.svg");
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-phone {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.footer-phone:hover {
  color: #756157;
}

.footer-phone:focus {
  color: #756157;
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.html-logo:hover {
  fill: #756157;
}

.fhtml-logo:focus {
  fill: #756157;
}

.html-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.hotels {
  background-image: url("../images/catalog-filters-bg.jpg");
  color: #ffffff;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 35px 70px 70px 70px;
}

.hotels-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

.catalog-breadcrumbs {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
}

.catalog-form-filters {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.catalog-filter-items-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.catalog-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-items {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.catalog-filter-items input[type="number"] {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.catalog-form-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 40px;
}

.catalog-form-btn-wrapper button {
  width: 191px;
}

.catalog-submit-btn {
  font-size: 16px;
  line-height: 20px;
}

.catalog-reset-btn {
  font-size: 16px;
  line-height: 20px;
  border: none;
  background-color: transparent;
}

.catalog-sort-select {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  height: 49px;
  padding: 14px 20px;
}

.catalog-price-range {
  font-weight: 400;
  line-height: 24px;
  opacity: 0.3;
}

.hotels-found {
  padding: 50px 70px 60px 70px;
}

.hotels-found-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}

.hotel-list-item p {
  margin: 0;
}

.hotel-list-item-img {
  width: 300px;
  height: 212px;
  margin-bottom: 16px;
}

.display-types {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-list {
  margin: 0;
  list-style: none;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid #E5E5E5;
  padding: 40px 0 40px 0;
}

.hotel-list-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.hotel-info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 16px;
  flex-grow: 1;
  grid-template-rows: 1fr auto;
}

.display-card .hotel-price {
  grid-column: 1 / -1;
  color: #333333;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hotel-price-value-wrapper {
  text-align: right;
}

.hotels-found-title {
  text-align: left;
  margin-bottom: 0;
  margin-right: auto;
}

.display-type-btn {
  display: block;
  height: 48px;
  width: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.display-type-active {
  border: 2px solid #000000;
  border-radius: 4px;
}

.display-type-tile {
  background-image: url("../images/icons/display-huge.svg");
}

.display-type-card {
  background-image: url("../images/icons/disaplay-card.svg");
}

.display-type-list {
  background-image: url("../images/icons/display-list.svg");
}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  grid-column: 1 / -1;
}

.favorite-added {
  background-color: #7db54f;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  min-height: 36px;
  padding: 8px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 40px 0 0 0;
  list-style: none;
  gap: 8px;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #82b3d3;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 4px;
  min-width: 60px;
}

.pagination-item-active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-points {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
